.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  min-height: 100vh;
}

.product-container {
  display: flex;
  gap: 1rem;
}

.image img {
  object-fit: cover;
}
